@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Tahoma';
    src: url('https://db.onlinewebfonts.com/t/4290dc0f334f28208bb3e75bc5fa4acc.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Tahoma';
    src: url('https://db.onlinewebfonts.com/t/b00461154a744c8069c01abcb6efc14a.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  body {
    @apply text-gray-900 bg-gray-100 font-tahoma;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}